{% extends "main_base.html" %}

{% block title %}主页APP{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{# end head block #}
{% block breadcrumb %}
<li class="active">
    <a href="#">
        <strong></strong>
    </a>
</li>
{% endblock %}
{# end breadcrumb block #}
{# begin row block #}
{% block row %}
<div class="row">
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">

                <h5><i class="fa fa-briefcase"></i>应用信息</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content ibox-heading">
                <small><i class="fa fa-user-md"></i>登陆用户：{{ current_user.name }}</small>
                &nbsp;&nbsp;
                <small><i class="fa fa-map-marker"></i> 您的当前位置为顶级页面.</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4">

    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><i class="fa fa-database"></i>  卡资源数据</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content inspinia-timeline">
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-map-marker"></i>
                            API-1
                        </div>
                        <div class="col-xs-7 content">
                            <a href="/gsvchome">
                                <p class="m-b-xs"><strong>  国家维度卡资源概述  </strong></p>
                            </a>
                            <p><small>国家维度卡资源数据统计包含现网卡数及状态统计、套餐统计、用户统计</small></p>
                            <br/>
                            {% if  current_user.username != "TechSupport"%}
                        </div>
                        <div class="col-xs-3 date">
                            <i class="fa fa-map-marker"></i>
                            API-2
                        </div>
                        <div class="col-xs-7 content">
                            <a href="{{ url_for('main.srcimsi', username=current_user.username) }}">
                                <p class="m-b-xs"><strong>卡资源手工维护表</strong></p>
                            </a>
                            <p><small>页面内容：现网及虚拟机国家维度卡资源数据</small></p>
                            <br/>
                            <p></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><i class="fa fa-medkit"></i>卡诊断</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content inspinia-timeline">
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-map-marker"></i>
                            API-3
                        </div>
                        <div class="col-xs-7 content">
                            <a href="/probVsimFirstDict">
                                <p class="m-b-xs"><strong>问题卡诊断</strong></p>
                            </a>
                            <p><small>页面内容：统计卡的实时分卡次数（包含不同终端统计）、流量使用情况。</small></p>
                            <br/>
                        </div>
                        <div class="col-xs-3 date">
                            <i class="fa fa-map-marker"></i>
                            API-next
                        </div>
                        <div class="col-xs-7 content">
                            <a href="#">
                                <p class="m-b-xs"><strong>脱板卡诊断</strong></p>
                            </a>
                            <p><small>页面内容：统计卡的实时分卡次数（包含不同终端统计）、流量使用情况。</small></p>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><i class="fa fa-th-large"></i>  专项应用</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content inspinia-timeline">
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-map-marker"></i>
                            API-4
                            <br/>
                        </div>
                        <div class="col-xs-7 content">
                            <a href="/mutiCountryVsimSRC/140country">
                                <p class="m-b-xs"><strong>  140国卡统计  </strong></p>
                            </a>
                            <p><small>页面内容：现网140国卡国际国内流量情况统计。</small></p>
                        </div>
                        <div class="col-xs-3 date">
                            <i class="fa fa-map-marker"></i>
                            API-5
                            <br/>
                        </div>
                        <div class="col-xs-7 content">
                            <a href="/vsimFlowerQuery">
                                <p class="m-b-xs"><strong>  卡流量查询  </strong></p>
                            </a>
                            <p><small>1、目前只支持新架构；</small></p>
                            <p><small>2、支持天、小时维度查询。</small></p>
                        </div>
                        <div class="col-xs-3 date">
                            <i class="fa fa-map-marker"></i>
                            API-6
                            <br/>
                        </div>
                        <div class="col-xs-7 content">
                            <a href="/packageFlowerQuery">
                                <p class="m-b-xs"><strong>  套餐流量查询  </strong></p>
                            </a>
                            <p><small>1、按国家套餐统计流量；</small></p>
                            <p><small>2、统计时间接口统一为GMT0时间。</small></p>
                        </div>

                        <div class="col-xs-3 date">
                            <i class="fa fa-map-marker"></i>
                            API-7
                            <br/>
                        </div>
                        <div class="col-xs-7 content">
                            <a href="{{ url_for('main.newVsimInfoTable') }}">
                                <p class="m-b-xs"><i class="fa fa-map-marker"></i><strong>  新卡测试信息表  </strong></p>
                            </a>
                            <p><small>页面内容：</small></p>
                            <p><small>1、新卡测试信息记录表单；</small></p>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}